.gradient-custom {
    /* fallback for old browsers */
    background: #2d2633;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(112, 80, 70), rgb(185, 134, 104));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(95, 68, 44), rgb(131, 84, 84))
    }